
div.text {
    height: 50px;
    padding: 60px;
    text-align: center;
    color: brown;
}
div.text span{
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
